@import "../../../assets/sass/base/general.scss";
.add_new_todo{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  input{
    flex: 1;
    border: none;
  }
  .add_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid $clight;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
    i{
      font-size: 25px;
      color: $cgray;
      transition: 0.4s;
    }
    &:hover{
      border-color: $ccorp;
      i{
        color: $ccorp;
      }
    }
  }
}
.todo_item{
  padding: 20px;
  border-top: 1px solid rgba($cread, 0.5) ;
  transition: 0.4s;
  &:last-child{
    margin-bottom: -20px;
    border-bottom-right-radius: 10px;
  }
  &:hover{
    background-color: rgba($cread, 0.2);
  }
  .todo_item_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left{
      display: flex;
      align-items: center;
      cursor: pointer;
      .checkbox{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        margin-right: 16px;
        border-radius: 50%;
        border: 1px solid $cread;
      }
      .todo_title{
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 600;
      }
      &.done{
        .checkbox{
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $ccorp;
          &:after{
            content: "\EB7B";
            font-family: $ffremix;
            font-weight: 400;
            position: absolute;
            color: $cwhite;
            font-size: 16px;
          }
        }
        .todo_title{
          &:after{
            content: '';
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $cbase;
          }
        }
      }
    }
    .right{
      display: flex;
      align-items: center;
      gap: 10px;
      .tag_item{
        padding: 5px 10px;
        border-radius: 10px;
      }
    }
  }
}