// Tags
body{
	color: $cbase;
	font-size: 14px;
	font-family: $ffbase, sans-serif;
	font-weight: 400;
	line-height: 1.5;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: rgba($cblack, 0);
  background-color: $cmain;
}
a{
	color: $ccorp;
	text-decoration: none;
	outline: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
	&:hover,
	&:focus{
		text-decoration: none;
	}
	&:hover{
		color: $cbase;
	}
	&:focus{
		color: $ccorp;
	}
}
// Tags
// Map
div.map{
	width: 100%;
	height: 400px;
}
// Map
// SVG stroke for animation
svg.dashed{
	fill: none;
	path{
		transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
	}
	&:hover{
		path{
			stroke-dashoffset: 0 !important;
		}
	}
}
// SVG stroke for animation
// Socials
div.socials{
	ul{
		@extend .no-list;
		display: flex;
		li{
			margin-right: 15px;
			&:last-child{
				margin-right: 0;
			}
			a{
				@extend .flex;
				width: 20px;
				height: 20px;
				color: $ccorp;
				font-size: 15px;
				&:hover{
					color: $cbase;
				}
			}
		}
	}
}
// Socials
// Container
div.container{
	width: 1400px;
	margin: 0 auto;
	@media(max-width: 1680px){
		width: 1300px;
	}
	@media(max-width: 1440px){
		width: 1200px;
	}
	@media(max-width: 1366px){
		width: 1100px;
	}
	@media(max-width: 1280px){
		width: 970px;
	}
	@media(max-width: 1024px){
		width: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
}
// Container

// show more
.morecontent span {
	display: none;
}
.morelink {
	display: block;
	color: $cbase;
	font-size: 12px;
	&:hover {
		color: $cred;
	}
}

// Mobile fixed button
.mobile_fixed_button {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	display: none;
	z-index: 9999;
	@media (max-width: 1024px) {
		display: block;
	}
	a {
		display: flex;
		align-items: center;
		justify-content: center;
		color: $cwhite;
		text-transform: uppercase;
		font-size: 18px;
		width: 100%;
		padding: 10px 0;
		background: $ccorp;
	}
}

// theme buttons
.theme_button{
	a,button{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: 5px 10px;
		background-color: $cwhite;
		color: $cdark;
		transition: 0.4s;
		cursor: pointer;
		&:hover{
			background-color: $ccorp;
		}
	}
}

/// GRIDS
.grids_wrap{
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  border: 1px solid $clight;
  overflow: hidden;
  margin-bottom: 20px;
  &.no_border{
    border: none;
  }
  &.align_items_center{
    align-items: center;
  }
  &.gap-2{
    justify-content: space-between;
    .grid-1{
      width: calc((100% / 12) * 1 - 20px);
    }
    .grid-2{
      width: calc((100% / 12) * 2 - 20px);
    }
    .grid-3{
      width: calc((100% / 12) * 3 - 20px);
    }
    .grid-4{
      width: calc((100% / 12) * 4 - 20px);
    }
    .grid-5{
      width: calc((100% / 12) * 5 - 20px);
    }
    .grid-6{
      width: calc((100% / 12) * 6 - 20px);
    }
    .grid-7{
      width: calc((100% / 12) * 7 - 20px);
    }
    .grid-8{
      width: calc((100% / 12) * 8 - 20px);
    }
    .grid-9{
      width: calc((100% / 12) * 9 - 20px);
    }
    .grid-10{
      width: calc((100% / 12) * 10 - 20px);
    }
    .grid-11{
      width: calc((100% / 12) * 11 - 20px);
    }
    .grid-12{
      width: calc((100% / 12) * 12 - 20px);
      max-width: 100%;
    }
  }
  &.gap-1{
    justify-content: space-between;
    .grid-1{
      width: calc((100% / 12) * 1 - 10px);
    }
    .grid-2{
      width: calc((100% / 12) * 2 - 10px);
    }
    .grid-3{
      width: calc((100% / 12) * 3 - 10px);
    }
    .grid-4{
      width: calc((100% / 12) * 4 - 10px);
    }
    .grid-5{
      width: calc((100% / 12) * 5 - 10px);
    }
    .grid-6{
      width: calc((100% / 12) * 6 - 10px);
    }
    .grid-7{
      width: calc((100% / 12) * 7 - 10px);
    }
    .grid-8{
      width: calc((100% / 12) * 8 - 10px);
    }
    .grid-9{
      width: calc((100% / 12) * 9 - 10px);
    }
    .grid-10{
      width: calc((100% / 12) * 10 - 10px);
    }
    .grid-11{
      width: calc((100% / 12) * 11 - 10px);
    }
    .grid-12{
      width: calc((100% / 12) * 12 - 10px);
      max-width: 100%;
    }
  }
}
.card_wrap {
  border-right: 1px solid $clight;
  &:last-child{
    border-right: none;
  }
  &.no_bg{
    background-color: transparent;
    border: none;
  }
  &.mr-1 {
    .card{
      margin-right: 10px;
    }
  }
  &.mr-2 {
    .card{
      margin-right: 20px;
    }
  }
  
  &.border_all{
    border: none;
    .card{
      border: 1px solid $clight;
      border-radius: 10px;   
    }
  }
}
.full_width{
  margin: 0 -20px;
}
.card{
  padding: 20px;
  background-color: $cwhite;
}
.grid-1{
  width: calc((100% / 12) * 1);
}
.grid-2{
  width: calc((100% / 12) * 2);
}
.grid-3{
  width: calc((100% / 12) * 3);
}
.grid-4{
  width: calc((100% / 12) * 4);
}
.grid-5{
  width: calc((100% / 12) * 5);
}
.grid-6{
  width: calc((100% / 12) * 6);
}
.grid-7{
  width: calc((100% / 12) * 7);
}
.grid-8{
  width: calc((100% / 12) * 8);
}
.grid-9{
  width: calc((100% / 12) * 9);
}
.grid-10{
  width: calc((100% / 12) * 10);
}
.grid-11{
  width: calc((100% / 12) * 11);
}
.grid-12{
  width: calc((100% / 12) * 12);
  max-width: 100%;
}


//COLORS

.color-primary{
  background-color: $ccorp;
  color: $cwhite;
}
.color-success{
  background-color: $csuccess;
  color: $cwhite;
}
.color-danger{
  background-color: $cdanger;
  color: $cwhite;
}
.color-info{
  background-color: $cinfo;
  color: $cwhite;
}
.color-warning{
  background-color: $cwarning;
  color: $cwhite;
}

.card_header{
  margin-bottom: 20px;
  .card_title{
    margin-bottom: 10px;
    span{
      font-size: 19px;
      font-weight: 700;
    }
  }
  .card_subtitle{
    font-size: 12px;
    color: $cgray;
  }
  &.d-flex{
    display: flex;
  }
  &.justify-content-between{
    justify-content: space-between;
  }
}