@import "../../assets/sass/base/general.scss";


.main_sidebar{
  position: relative;
  background-color: $cdark;
  min-height: 100vh;
  height: 100%;
  .sidebar_container{
    position: sticky;
    top: 0;
    .sidebar_header{
      .logo{
        padding: 40px;
        margin-bottom: 20px;
        a{
          display: flex;
          align-items: center;
          i{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-right: 10px;
            font-size: 22px;
            background-color: $ccorp;
            color: $cwhite;
          }
          span{
            font-size: 19px;
            font-weight: 700;
            color: $cread;
          }
        }
      }
    }
  }
}